.general-section-content{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.ubicacion-section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ubicacion-section-content .content-card-users{
    width: 80%;
}