.menuActionOption{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.compactAction{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
}
/*  */
/*********************************************/

.buttonAction {
    position: relative;
    /* padding: 10px 20px; */
    border-radius: 7px;
    
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
height: 100%;
    letter-spacing: 2px;
    background: #e5f3ff;
    
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .actDisabled{
    color: #bdbdbd !important;
    border: 1px solid #bdbdbd !important;
    background: transparent;
    pointer-events: none;
  }
  .actGeneral{
    color: #004e94;
    border: 1px solid rgb(61, 106, 255);
  }
  .actAlert{
    letter-spacing: 1px;
    color: #940000;
    border: 1px solid rgb(255, 61, 61);
  }
  .buttonAction:hover {
    background: #e5f3ff;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    transform: scale(1.1) translateY(-1px);
    cursor: pointer;
    box-shadow: 0 0 6px 2px rgba(117, 117, 117, 0.815);
    border: 1px solid rgb(46, 46, 46);
    color: #8f8f8f;
  }
  .actGeneral:hover{
    /* box-shadow: 0 0 6px 2px rgba(0, 142, 236, 0.815); */
    border: 1px solid rgb(61, 106, 255);
    color: #004e94;
  }
  .actAlert:hover{
    /* box-shadow: 0 0 6px 2px rgba(236, 0, 0, 0.815); */
    border: 1px solid rgb(255, 61, 61);
    color: #940000;
  }
  .buttonAction:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .buttonAction::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .buttonAction:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
    transform: scale(1) translateY(-1px);
  }
  