.container{
    position: absolute;
    width: 96%;
    left: 4%;
    height: 92%;
    /* display: flex; */
    display: block;
    justify-content: center;
    flex-direction: row;
    background: #030f1e;
}

