.dataContentColumn{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.compactData{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
}
.InfoData{
    /* border-color: #088eee; */
    
width: 100%;
height: 90%;
border-top: none;
border-left: none;
border-radius: 5px;
background-color: transparent;
font-size: x-large;

letter-spacing: 1px;
 text-align: end;
 top: 10%;
  position: relative;
}
.labelData{
    /* font-weight: bold; */
    position: absolute;
    top: -10%;
    font-size: x-large;
    /* color: #088eee; */
   
}

.inpUP{
    border-color: #1fee08;
    color: #1fee08;
}
.lblUP{
    color:  #19f600;
}

.inpDOWN{
    border-color: #ee0808;
    color: #ee0808;
}
.inpDOWND{
    border-color: rgb(240, 0, 191);
    color: rgb(240, 0, 191);
}
.lblDOWN{
    color:  #ee0808;
}
.lblDOWND{
    color:  rgb(240, 0, 191);
}
.inpDOWN4{
    border-color: #ee5c08;
    color: #ee5c08;
}
.lblDOWN4{
    color:  #ee5c08;
}
.inpDOWN3{
    border-color: #ee9d08;
    color: #ee9d08;
}
.lblDOWN3{
    color:  #ee9d08;
}
.inpDOWN2{
    border-color: #ffee00;
    color: #ffee00;
}
.lblDOWN2{
    color:  #ffee00;
}

.inpDOWN1{
    border-color: #00ffdd;
    color: #00ffdd;
}
.lblDOWN1{
    color:  #00ffdd;
}

/**********************************************/
.exceptionCell .inpCFE{
    border-color: #02500b;
    background-color: #00da19b7;
    color: #ffffff;
    height: 100%;
    top: 0%;
}
.exceptionCell .lblCFE{
    color:  #ffffff;
    top: 10%;
    left:5%;
    z-index: 2;
    font-weight: bold;
}

.exceptionCell .inpCONAGUA{
   
    border-color: #002a33;
    background-color: #00b7e1;
    color: #ffffff;
    height: 100%;
    top: 0%;
}
.exceptionCell .lblCONAGUA{
    color:  #ffffff;
    top: 10%;
    left:5%;
    z-index: 2;
    font-weight: bold;
}
.exceptionCell input {
    border-color: #330015;
    background-color: #9e0143;
    color: #fdfdfd;
    height: 100%;
    top: 0%;
}
.exceptionCell label {
    color:  #ffffff;
    top: 10%;
    left:5%;
    z-index: 2;
    /* font-weight: bold; */
    word-break: break-all;
  word-wrap: anywhere;
  white-space:wrap;
}