
.mainInfoMarker{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contInfoMarker{
  display: block;
  position: relative;
  width: 98%;
  height: 98%;
}
.titleInfoMarker{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  max-height: 30px;
}

.bodyInfoMarker{
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:50%;
  
}
.actionsInfoMarker{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  
}
.txtTitleInfoMarker{
  font-size: medium;
  color: aliceblue;
}
.contHost{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.contCheck{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 100%;
}
.contInfoHost{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
}
.infoHost{
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  border: #ffffff33 1px solid;
  border-radius: 10px;
}
.rowInfo {
  justify-content: center;
  position: relative;
  display: flex;
  overflow: hidden;
  height: 60%;
  /* background: #5d5c69; */
  background-color: #43434d79;
  background-size: 400%;
  color: #fff;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
}
.titlesInfo{
  height: 40%;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(13, 13, 13, 0.45);
  /* max-height: 25px; */
}
.hostInfoCell{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.txtHostInfoCell{
  text-align: center;
  position: relative;
  width: 100%;
  height: auto;
  word-break: break-all;
  margin: 0 0 1em 1em;
  display: flex;
  font-size: x-small;
  letter-spacing: 0.5px;
  justify-content: center;
  margin: 2%;
}
.textWOA{
  font-size: medium;
  color: #f0f8ff21;
}


/*************************************cont actions**************************************/
.txtHostSelected{
  position: absolute;
  display: flex;
  justify-content: center;
  /* align-items: center;
  width: 30%;
  height: 100%; */
  color: aliceblue;
  font-weight: bold;
  left: 0;
  top: 0;
  /* background-color: rgb(23, 24, 24); */
}
.contActionsInfoMarker{
  position: relative;
  display: block;
  width: 99%;
  height: 98%;
  /* border: #ffffff33 1px solid; */
}
.menu-actions{
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 15%;
}
.compactactions-list{
  position: relative;
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
list-style-type: none; /* Elimina los estilos de viñetas de la lista */
padding: 0; /* Elimina el relleno predeterminado de la lista */
margin: 0; 
}
.compactactions-list li {
  /* flex-grow: 1; Permite que los elementos ocupen el espacio disponible */
  width: 33%;
  height: 100%;
  background-color: transparent;
  border-right: 1px solid #a1a1a150;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  cursor: pointer;
  /* color: rgba(195,195,195,1); */
  color: aliceblue;
}
.compactactions-list li:hover{
  background-color: rgba(130, 134, 138, 0.452);
}
.action-selected{
  /* background-color: rgba(195,195,195,1) !important; */
  background-color: aliceblue !important;
  /* color: rgb(1, 17, 31) !important; */
  color:#003757 !important;
}
.contActions{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85%;
  border: #ffffff33 1px solid;
}
.contAcciones{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
}

.lblInfoHost{
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  color: aliceblue;
  margin-left: 1%;
}
.menuActionDataIM {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 400px;  */
  width: 95%;
  overflow-y: auto; /* Activar el scroll vertical cuando sea necesario */
  max-height: 95%;
  height: 85%;
}
.menuActionCellIM .compactAction{
  width: 90%;
  height: 70%;
  
}
.menuActionCellIM .menuActionOption{
  height: 90%;
}
.oneCell{
max-width: 150px;
height: 50%;
max-height: 50px;
}
.menuActionCellIM {
  /* border: unset; */
  border: 1px solid rgba(240, 248, 255, 0.105);
  width: 25%;
  box-sizing: border-box; /* Considerar el padding y borde en el ancho */
  /* min-height: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
/******************************estilos de radiocheck************************************/
.checkHost {
  -webkit-appearance: none;
 /* remove default */
  display: block;
  margin: 10px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
  background-color: hsla(0,0%,0%,.2);
  background-image: -webkit-radial-gradient( hsla(200,100%,90%,1) 0%, hsla(200,100%,70%,1) 15%, hsla(200,100%,60%,.3) 28%, hsla(200,100%,30%,0) 70% );
  background-repeat: no-repeat;
  -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
    -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
  outline: none;
}

.checkHost:checked {
  -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}

.checkHost:active {
  -webkit-transform: scale(1.5);
  -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}



/* The up/down direction logic */

.checkHost,
.checkHost:active {
  background-position: 0 24px;
}

.checkHost:checked {
  background-position: 0 0;
}

.checkHost:checked ~ .checkHost,
.checkHost:checked ~ .checkHost:active {
  background-position: 0 -24px;
}



