.menuSearchOption{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 5%;
}
.compactInputForm{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
}
.InputForm{
    border-color: #b3b3b3 !important;
    /* border-color: #ee085c; */
width: 100%;
height: 100%;
border-top: none !important;
border-left: none !important;
border-radius: 5px;
background-color: #00000029 !important;
color: aliceblue !important;
outline: none;
letter-spacing: 1px;
 text-align: center;
}
.InputForm:focus{
    border-color: #ffffff !important;
    box-shadow: 1px 1px 10px #ffffff4d;
}
.react-select__input,.react-select__placeholder{
    background-color: transparent !important;
    color: aliceblue !important;
    border: none !important;
    outline: 0 !important;
}
.react-select-container{
    outline: 0 !important;
    top: 5px;
}
.react-select__input-container,.react-select__single-value {
    color: aliceblue !important;
}
.react-select__indicator svg{
    color: #088eee ;
 }

.labelInputForm{
    font-weight: bold;
    position: absolute;
    top: -20%;
    color: #eaeaea;
    
    /* color:  #ee085c; */
}
.react-select__menu{
    border-color:#088eee !important;;
    background-color:#030915 !important ;
    color: #088eee !important;
    border: 1px solid aliceblue !important;
    align-items: center !important;
    display: flex !important;
    text-align: center !important;
    z-index: 3 !important;
}
.react-select__menu-list{
    width: 100% !important;
}
.react-select__option{
    border-bottom-color: rgba(255, 255, 255, 0.127) !important;
}
option:hover{
    background-color:#fff ;
    color: #ee085c;
}
.css-t3ipsp-control:hover{
    

    box-shadow: none !important;
}

.css-t3ipsp-control{
    

    box-shadow: none !important;
}
