
.main-login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-login{
    position: relative;
    width: 50%;
    height: 100%;
}
.rigth-login{
    display: flex;
}
.cont-shadow{
    background: linear-gradient( #003757ef, #020a20f3);
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-login{
    height: 20%;
}
.cont-img-back{
    /* background-image: url('../public/monitoreo_seguritech.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    height: 100vh;
    display: inline-block;
}
.cont-img{
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-show{
    position: relative;
    width: 100%;
    height: 100%;
}

.left-login{
    display: flex;
    justify-content: center;
    align-items: center;
/* background: linear-gradient(90deg, rgba(255,254,255,1) 0%, rgba(195,195,195,1) 100%); */
background-image: url('/public/back-3.png');
background-size: cover;
background-repeat: no-repeat;
}
.img-top{
    position: absolute;
    height: 20%;
    top:6%;
    /* left: 38%; */
    z-index: 3;
}
.card_login {
    position: relative;
    width: 70%;
    height: 70%;
    border-radius: 14px;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow:  20px 20px 60px #949494,
    -20px -20px 60px #ffffff; */
    background-color: #003757ef;
    ;
  }
  
  .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 98%;
    height: 98%;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    background: linear-gradient(90deg, rgba(255,254,255,1) 0%, rgba(195,195,195,1) 100%);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
  }
  
  .blob {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 10%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #0076bb;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
  }
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0%, 0%);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    padding: 40px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    background: transparent;
    /* box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px; */
  }
  
  .login-box p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #003757;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  .user-box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #505050;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #003757;
    border-right: 2px solid #003757;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bolder;
    color: #003757;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #003757;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #003757;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px
  }
  
  .login-box a:hover {
    background: #003757;
    color: #ffffff;
    border-radius: 5px;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #003757);
    animation: btn-anim1 1.5s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #003757);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
  
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #003757);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
  
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #003757);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
  
    50%,100% {
      bottom: 100%;
    }
  }
  
  .login-box p:last-child {
    color: #aaa;
    font-size: 14px;
  }
  
  .login-box a.a2 {
    color: #fff;
    text-decoration: none;
  }
  
  .login-box a.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
  }

  .MessageErrorCont{
    position: relative;
    /* background-color: red; */
    width: 100%;
    height: 20%;
    top:80%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .MessageError{
    position: relative;
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 3px solid #ff5959;
    background-color: rgba(242, 199, 199, 0.72);
  }
  .txtMessageError{
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    word-wrap: break-word;
    font-size: small;
  }